version: '3'

services:
  influxdb:
    container_name: influxdb
    image: influxdb:2.2
    restart: unless-stopped
    volumes:
      - ./data/influxdb2:/var/lib/influxdb2
      - ./data/influxdb2-config:/etc/influxdb2
    ports:
      - "8086:8086"

  influxdb_cli:
    container_name: influxdb_cli
    links:
      - influxdb
    image: influxdb:2.2
    entrypoint: influx setup --bucket main -t my_secret_influx_token -o acme --username=admin --password=my_secret_passwd --host=http://influxdb:8086 -f
    restart: on-failure:10
    depends_on:
      - influxdb

  mosquitto:
    container_name: mosquitto
    image: eclipse-mosquitto:latest
    restart: always
    ports:
       - "1883:1883"
    volumes:
      - ./data/mosquitto/config:/mosquitto/config
      - ./data/mosquitto/data:/mosquitto/data
      - ./data/mosquitto/log:/mosquitto/log

  pyfusionsolar:
    container_name: pyfusionsolardatarelay
    image: jsprnl/pyfusionsolardatarelay:latest
    #build: ./PyFusionSolarDataRelay
    restart: unless-stopped
    depends_on:
      - influxdb
      - mosquitto
    environment:
      - debug_mode=True

      # Keep descriptive_name lowercase and without spaces, will be used in MQTT topic and InfluxDB record tags
      - site_descriptive_name=companyname_site_01

      # Enable fusionsolar kiosk module
      - fusionsolar_kiosk_module_enabled=True
      - fusionsolar_kiosk_fetch_cron_minute=0,30 # Please note that the kiosk only seems to update each 30mins

      # Define fusionsolar kiosk configuration
      - fusionsolar_kiosks__0__api_kkid=GET_THIS_STRING_FROM_YOUR_KIOSK_URL
      - fusionsolar_kiosks__0__output_pvoutput_system_id=12345
      # Optionally disable specific outputs, (if output module is disabled, specific output will be disabled)
      #- fusionsolar_kiosks__0__output_pvoutput=False
      #- fusionsolar_kiosks__0__output_mqtt=False
      #- fusionsolar_kiosks__0__output_influxdb=False

      # Define second fusionsolar kiosk configuration
      # - fusionsolar_kiosks__1__api_kkid=GET_THIS_STRING_FROM_YOUR_KIOSK_URL
      # - fusionsolar_kiosks__1__pvoutput_enabled=False

      # Kenter module conf
      - kenter_module_enabled=False
      - kenter_clientid=my@username.com
      - kenter_password=secretpassword
      # Keep descriptive_name lowercase and without spaces, will be used in MQTT topic and InfluxDB record tags
      - kenter_metering_points__0__descriptive_name=sommatie_ean
      - kenter_metering_points__0__connection_id=123456789
      - kenter_metering_points__0__metering_point_id=987654321
      #- kenter_metering_points__0__output_mqtt=False
      #- kenter_metering_points__0__output_influxdb=False
      #- kenter_metering_points__0__output_pvoutput=False


      # InfluxDB module conf
      - influxdb_module_enabled=True
      - influxdb_host=influxdb
      - influxdb_is_v2=True
      - influxdb_v2_protocol=http
      - influxdb_v2_org=acme
      - influxdb_v2_bucket=fusionsolar
      - influxdb_v2_token=GENERATE_TOKEN_IN_INFLUXDB_ADMIN_PANEL

      # PVOutput module conf
      - pvoutput_module_enabled=True
      - pvoutput_api_key=GENERATE_THIS_AND_SYSTEMID_ON_PVOUTPUT.ORG

      # MQTT module conf
      - mqtt_module_enabled=True
      - mqtt_host=mosquitto
      - mqtt_auth=False

    volumes:
      - /etc/localtime:/etc/localtime:ro

  grafana:
    depends_on:
      - influxdb
    image: grafana/grafana-oss:8.5.5
    container_name: grafana
    restart: unless-stopped
    ports:
      - 3000:3000
    user: "1000:1000"
    volumes:
      - ./data/grafana:/var/lib/grafana
    environment:
      - GF_AUTH_ANONYMOUS_ENABLED=true
      - GF_AUTH_ANONYMOUS_ORG_NAME=Main Org.
      - GF_AUTH_ANONYMOUS_ORG_ROLE=Viewer
      - GF_AUTH_ANONYMOUS_HIDE_VERSION=True
      - GF_SECURITY_ALLOW_EMBEDDING=True

  homeassistant:
    container_name: homeassistant
    depends_on:
      - mosquitto
    image: homeassistant/home-assistant
    volumes:
      - ./data/hass:/config
      - /etc/localtime:/etc/localtime:ro
    restart: unless-stopped
    network_mode: host
