version: '3'

services:
  influxdb:
    container_name: influxdb
    image: influxdb:2.2
    restart: unless-stopped
    volumes:
      - ./data/influxdb2:/var/lib/influxdb2
      - ./data/influxdb2-config:/etc/influxdb2
    ports:
      - "8086:8086"

  influxdb_cli:
    container_name: influxdb_cli
    links:
      - influxdb
    image: influxdb:2.2
    entrypoint: influx setup --bucket main -t my_secret_influx_token -o acme --username=admin --password=my_secret_passwd --host=http://influxdb:8086 -f
    restart: on-failure:10
    depends_on:
      - influxdb

  mosquitto:
    container_name: mosquitto
    image: eclipse-mosquitto:latest
    restart: always
    ports:
       - "1883:1883"
    volumes:
      - ./data/mosquitto/config:/mosquitto/config
      - ./data/mosquitto/data:/mosquitto/data
      - ./data/mosquitto/log:/mosquitto/log

  pyfusionsolar:
    container_name: pyfusionsolardatarelay
    image: jsprnl/pyfusionsolardatarelay:latest
    #build: ./PyFusionSolarDataRelay
    restart: unless-stopped
    depends_on:
      - influxdb
      - mosquitto
    environment:
      - debug_mode=False
      - fetch_on_startup=True
      - site_descriptive_name=my_site

      - fusionsolar_kiosk_module_enabled=True

      - fusionsolar_kiosks__0__descriptive_name=my_site_totals
      - fusionsolar_kiosks__0__api_kkid=sdlew8h9hldshdsoidsuhidsu
      - fusionsolar_kiosks__0__output_pvoutput=True
      - fusionsolar_kiosks__0__output_pvoutput_system_id=123456

      - fusionsolar_open_api_module_enabled=True
      - fusionsolar_open_api_user_name=MyUserName
      - fusionsolar_open_api_system_code=MySecretPass
      - fusionsolar_open_api_mqtt_for_discovered_dev=True

      - fusionsolar_open_api_inverters__0__descriptive_name=oa_inverter_01
      - fusionsolar_open_api_inverters__0__dev_id=1004587964284137

      - fusionsolar_open_api_inverters__1__descriptive_name=oa_inverter_02
      - fusionsolar_open_api_inverters__1__dev_id=1000045678978407
      - fusionsolar_open_api_inverters__1__output_pvoutput=True
      - fusionsolar_open_api_inverters__1__output_pvoutput_system_id=123457

      - fusionsolar_open_api_meters__0__descriptive_name=oa_composite_metering_01
      - fusionsolar_open_api_meters__0__dev_id=1000564879541871

      - kenter_module_enabled=True
      - kenter_clientid=api_1234_c3casa
      - kenter_password=DFwh498h!!sdskljdss

      - kenter_metering_points__0__descriptive_name=main_building_overdrachtpunt
      - kenter_metering_points__0__connection_id=871645687210007898
      - kenter_metering_points__0__metering_point_id=6014587216
      - kenter_metering_points__0__channel_id=16180

      - kenter_metering_points__1__descriptive_name=secondary_meter_1
      - kenter_metering_points__1__connection_id=871645687210007898
      - kenter_metering_points__1__metering_point_id=123468
      - kenter_metering_points__1__channel_id=10180

      - kenter_metering_points__2__descriptive_name=secondary_meter_2
      - kenter_metering_points__2__connection_id=871645687210007898
      - kenter_metering_points__2__metering_point_id=564984
      - kenter_metering_points__2__channel_id=10180

      - kenter_metering_points__3__descriptive_name=secondary_building_overdrachtspunt
      - kenter_metering_points__3__connection_id=871687120000123458
      - kenter_metering_points__3__metering_point_id=6546984
      - kenter_metering_points__3__channel_id=16180

      - influxdb_module_enabled=True
      - influxdb_host=svrdocker01
      - influxdb_port=8428
      - influxdb_is_v2=False
      - influxdb_v1_username=myusername
      - influxdb_v1_password=mysecretPassword
      - influxdb_v2_protocol=http
      - influxdb_v2_token=jlihw98rwh98hoids==
      - influxdb_v2_org=mycompany
      - influxdb_v2_bucket=mybucket

      - mqtt_module_enabled=True
      - mqtt_host=mymqttserver
      - mqtt_port=1883
      - mqtt_auth=True
      - mqtt_username=myusername
      - mqtt_password=mypassword

      - pvoutput_module_enabled=True
      - pvoutput_api_key=9847594832794874460d04c39

    volumes:
      - /etc/localtime:/etc/localtime:ro

  grafana:
    depends_on:
      - influxdb
    image: grafana/grafana-oss:8.5.5
    container_name: grafana
    restart: unless-stopped
    ports:
      - 3000:3000
    user: "1000:1000"
    volumes:
      - ./data/grafana:/var/lib/grafana
    environment:
      - GF_AUTH_ANONYMOUS_ENABLED=true
      - GF_AUTH_ANONYMOUS_ORG_NAME=Main Org.
      - GF_AUTH_ANONYMOUS_ORG_ROLE=Viewer
      - GF_AUTH_ANONYMOUS_HIDE_VERSION=True
      - GF_SECURITY_ALLOW_EMBEDDING=True

  homeassistant:
    container_name: homeassistant
    depends_on:
      - mosquitto
    image: homeassistant/home-assistant
    volumes:
      - ./data/hass:/config
      - /etc/localtime:/etc/localtime:ro
    restart: unless-stopped
    network_mode: host
